<!DOCTYPE html>
<html lang="ch">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form action="/importDaliy" method="post" enctype="multipart/form-data"><!--enctype="multipart/form-data"是必须的-->
  <br><br><br>
  <test>选择你的表格</test>
  <br><br>
  <input type="file" name="file"><br><br>
  <input type="submit" id="btnSub" value="正式提交">
</form>
</body>
</html>